openapi: 3.0.3
info:
  title: ParkTrack API
  version: 1.0.0
  description: 'OpenAPI-спецификация ParkTrack API. Базовый путь API: /api/v1. Включает административную аналитику, получение
    произвольных результатов распознавания и безопасную выдачу расшифрованных артефактов детекций из S3.'
servers:
- url: https://api.parktrack.live/api/v1
  description: Production
security:
- bearerAuth: []
tags:
- name: Auth
  description: Регистрация, вход, выход и текущий пользователь.
- name: Users
  description: Профиль и управление пользователями.
- name: Partners
  description: Партнёры и сотрудники партнёров.
- name: Cameras
  description: Камеры и снапшоты.
- name: Parking Zones
  description: Парковочные зоны и геометрия.
- name: Occupancy
  description: Наблюдения занятости.
- name: Forecasts
  description: Прогнозы занятости.
- name: Routing
  description: Поиск парковки и маршруты.
- name: Data Sources
  description: Единый реестр источников данных.
- name: Admin
  description: Административный мониторинг и действия.
- name: Admin Analytics
  description: Административная аналитика, результаты распознавания, кадры raw/annotated, YOLOv12 labels и обратная связь
    по детекциям.
- name: Weather
  description: Погодные условия камер в разное время.
- name: System
  description: Служебные эндпоинты.
paths:
  /auth/register:
    post:
      tags:
      - Auth
      summary: Регистрация пользователя
      operationId: authRegister
      description: Создаёт обычного пользователя и новую сессию.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security: []
  /auth/login:
    post:
      tags:
      - Auth
      summary: Вход пользователя
      operationId: authLogin
      description: Аутентифицирует пользователя и создаёт новую сессию.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security: []
  /auth/logout:
    post:
      tags:
      - Auth
      summary: Выход пользователя
      operationId: authLogout
      description: Завершает текущую сессию.
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /auth/me:
    get:
      tags:
      - Auth
      summary: Текущий пользователь и права
      operationId: authMe
      description: Возвращает пользователя, глобальные разрешения и партнёрские членства.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthMeResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /users/me:
    get:
      tags:
      - Users
      summary: Профиль текущего пользователя
      operationId: getMe
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'
    put:
      tags:
      - Users
      summary: Обновить профиль текущего пользователя
      operationId: updateMe
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMeRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /users/me/password:
    put:
      tags:
      - Users
      summary: Сменить пароль текущего пользователя
      operationId: changeMyPassword
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePasswordRequest'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'
  /users:
    get:
      tags:
      - Users
      summary: Список пользователей
      operationId: listUsers
      parameters:
      - $ref: '#/components/parameters/Q'
      - name: role
        in: query
        required: false
        schema:
          type: string
        description: Глобальная роль.
      - name: is_active
        in: query
        required: false
        schema:
          type: boolean
        description: Фильтр по активности.
      - $ref: '#/components/parameters/Top'
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags:
      - Users
      summary: Создать пользователя
      operationId: createUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserIdResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
  /users/{user_id}:
    get:
      tags:
      - Users
      summary: Получить пользователя
      operationId: getUser
      parameters:
      - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
      - Users
      summary: Обновить пользователя
      operationId: updateUser
      parameters:
      - $ref: '#/components/parameters/UserId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
    delete:
      tags:
      - Users
      summary: Деактивировать пользователя
      operationId: deleteUser
      parameters:
      - $ref: '#/components/parameters/UserId'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /partners:
    get:
      tags:
      - Partners
      summary: Список партнёров
      operationId: listPartners
      parameters:
      - $ref: '#/components/parameters/Q'
      - name: is_active
        in: query
        required: false
        schema:
          type: boolean
        description: Фильтр по активности.
      - $ref: '#/components/parameters/Top'
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags:
      - Partners
      summary: Создать партнёра
      operationId: createPartner
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartnerCreateRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerIdResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
  /partners/{partner_id}:
    get:
      tags:
      - Partners
      summary: Получить партнёра
      operationId: getPartner
      parameters:
      - $ref: '#/components/parameters/PartnerId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Partner'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
      - Partners
      summary: Обновить партнёра
      operationId: updatePartner
      parameters:
      - $ref: '#/components/parameters/PartnerId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartnerUpdateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Partner'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
    delete:
      tags:
      - Partners
      summary: Деактивировать партнёра
      operationId: deletePartner
      parameters:
      - $ref: '#/components/parameters/PartnerId'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /partners/{partner_id}/members:
    get:
      tags:
      - Partners
      summary: Список сотрудников партнёра
      operationId: listPartnerMembers
      parameters:
      - $ref: '#/components/parameters/PartnerId'
      - $ref: '#/components/parameters/Q'
      - name: is_active
        in: query
        required: false
        schema:
          type: boolean
      - name: role
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/PartnerRole'
      - $ref: '#/components/parameters/Top'
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerMembershipListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags:
      - Partners
      summary: Добавить сотрудника партнёра
      operationId: createPartnerMember
      parameters:
      - $ref: '#/components/parameters/PartnerId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartnerMemberCreateRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerMembership'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
  /partners/{partner_id}/members/{user_id}:
    get:
      tags:
      - Partners
      summary: Получить членство пользователя в партнёре
      operationId: getPartnerMember
      parameters:
      - $ref: '#/components/parameters/PartnerId'
      - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerMembership'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
      - Partners
      summary: Обновить членство пользователя в партнёре
      operationId: updatePartnerMember
      parameters:
      - $ref: '#/components/parameters/PartnerId'
      - $ref: '#/components/parameters/UserId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartnerMemberUpdateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerMembership'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
    delete:
      tags:
      - Partners
      summary: Отключить пользователя от партнёра
      operationId: deletePartnerMember
      parameters:
      - $ref: '#/components/parameters/PartnerId'
      - $ref: '#/components/parameters/UserId'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /cameras:
    get:
      tags:
      - Cameras
      summary: Список камер
      operationId: listCameras
      parameters:
      - $ref: '#/components/parameters/Q'
      - name: partner_id
        in: query
        required: false
        schema:
          type: integer
      - name: is_active
        in: query
        required: false
        schema:
          type: boolean
      - $ref: '#/components/parameters/BBox'
      - name: view
        in: query
        required: false
        schema:
          type: string
          enum:
          - full
          - map
        description: full по умолчанию; map для карты.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                - type: array
                  items:
                    $ref: '#/components/schemas/Camera'
                - type: array
                  items:
                    $ref: '#/components/schemas/CameraMapItem'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'
  /cameras/new:
    post:
      tags:
      - Cameras
      summary: Создать камеру
      operationId: createCamera
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CameraCreateRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CameraIdResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/ValidationError'
  /cameras/next:
    get:
      tags:
      - Cameras
      summary: Следующая камера для обработки
      operationId: getNextCamera
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CameraNext'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /cameras/{camera_id}:
    get:
      tags:
      - Cameras
      summary: Получить камеру
      operationId: getCamera
      parameters:
      - $ref: '#/components/parameters/CameraId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
      - Cameras
      summary: Обновить камеру
      operationId: updateCamera
      parameters:
      - $ref: '#/components/parameters/CameraId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CameraUpdateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
    delete:
      tags:
      - Cameras
      summary: Удалить камеру
      operationId: deleteCamera
      parameters:
      - $ref: '#/components/parameters/CameraId'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /cameras/{camera_id}/snapshot:
    get:
      tags:
      - Cameras
      summary: Получить live-кадр или кадр выбранной детекции
      operationId: getCameraSnapshot
      parameters:
      - $ref: '#/components/parameters/CameraId'
      - name: annotated
        in: query
        required: false
        description: Вернуть сохранённый кадр с разметкой.
        schema:
          type: boolean
          default: false
      - name: last_detection
        in: query
        required: false
        description: При annotated=false вернуть последний сохранённый raw-кадр вместо live-кадра.
        schema:
          type: boolean
          default: false
      - name: fallback_to_raw
        in: query
        required: false
        description: При отсутствии annotated разрешить возврат raw для выбранной детекции.
        schema:
          type: boolean
          default: false
      - name: detection_run_id
        in: query
        required: false
        description: Выбрать конкретное распознавание этой камеры. При annotated=false возвращается raw.
        schema:
          type: integer
          minimum: 1
          nullable: true
      responses:
        '200':
          description: JPEG live-кадра либо расшифрованного кадра детекции.
          headers:
            Content-Disposition:
              $ref: '#/components/headers/ContentDisposition'
            Cache-Control:
              $ref: '#/components/headers/CacheControlPrivateNoStore'
            X-Detection-Run-Id:
              $ref: '#/components/headers/DetectionRunId'
            X-Snapshot-Captured-At:
              $ref: '#/components/headers/SnapshotCapturedAt'
            X-Snapshot-Variant:
              $ref: '#/components/headers/SnapshotVariant'
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: 'Без query-параметров получает новый live-кадр из источника камеры. Для сохранённых результатов загружает
        зашифрованный объект PTSNAP01 из S3, проверяет AES-256-GCM и расшифровывает JPEG только в памяти API.


        Приоритет: detection_run_id → annotated → last_detection → live-кадр.'
  /zones:
    get:
      tags:
      - Parking Zones
      summary: Список парковочных зон
      operationId: listZones
      parameters:
      - name: camera_id
        in: query
        required: false
        schema:
          type: integer
      - name: partner_id
        in: query
        required: false
        schema:
          type: integer
      - name: is_active
        in: query
        required: false
        schema:
          type: boolean
      - name: min_free_count
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
      - name: min_confidence
        in: query
        required: false
        schema:
          type: number
          format: double
          minimum: 0
          maximum: 1
      - name: max_pay
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
      - name: include_private
        in: query
        required: false
        schema:
          type: boolean
      - name: include_accessible
        in: query
        required: false
        schema:
          type: boolean
      - name: hide_location_types
        in: query
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/BBox'
      - name: view
        in: query
        required: false
        schema:
          type: string
          enum:
          - full
          - map
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                - type: array
                  items:
                    $ref: '#/components/schemas/Zone'
                - type: array
                  items:
                    $ref: '#/components/schemas/ZoneMapItem'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'
  /zones/new:
    post:
      tags:
      - Parking Zones
      summary: Создать парковочную зону
      operationId: createZone
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ZoneCreateRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZoneIdResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
  /zones/{zone_id}:
    get:
      tags:
      - Parking Zones
      summary: Получить парковочную зону
      operationId: getZone
      parameters:
      - $ref: '#/components/parameters/ZoneId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Zone'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
      - Parking Zones
      summary: Обновить парковочную зону
      operationId: updateZone
      parameters:
      - $ref: '#/components/parameters/ZoneId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ZoneUpdateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Zone'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
    delete:
      tags:
      - Parking Zones
      summary: Удалить парковочную зону
      operationId: deleteZone
      parameters:
      - $ref: '#/components/parameters/ZoneId'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /occupancy:
    get:
      tags:
      - Occupancy
      summary: Наблюдения занятости
      operationId: listOccupancy
      parameters:
      - name: zone_id
        in: query
        required: false
        schema:
          type: integer
      - name: camera_id
        in: query
        required: false
        schema:
          type: integer
      - name: partner_id
        in: query
        required: false
        schema:
          type: integer
      - name: source_type
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/ObservationSourceType'
      - name: from
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: to
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: at
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: latest_only
        in: query
        required: false
        schema:
          type: boolean
      - $ref: '#/components/parameters/BBox'
      - name: view
        in: query
        required: false
        schema:
          type: string
          enum:
          - observations
          - series
          - map
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                - type: array
                  items:
                    $ref: '#/components/schemas/OccupancyObservation'
                - type: array
                  items:
                    $ref: '#/components/schemas/OccupancySeriesPoint'
                - type: array
                  items:
                    $ref: '#/components/schemas/OccupancyMapItem'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'
  /occupancy/new:
    post:
      tags:
      - Occupancy
      summary: Создать наблюдение занятости
      operationId: createOccupancy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OccupancyCreateRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObservationIdResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/ValidationError'
  /occupancy/{observation_id}:
    get:
      tags:
      - Occupancy
      summary: Получить наблюдение занятости
      operationId: getOccupancy
      parameters:
      - $ref: '#/components/parameters/ObservationId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OccupancyObservation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
      - Occupancy
      summary: Обновить наблюдение занятости
      operationId: updateOccupancy
      parameters:
      - $ref: '#/components/parameters/ObservationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OccupancyUpdateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OccupancyObservation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
    delete:
      tags:
      - Occupancy
      summary: Удалить наблюдение занятости
      operationId: deleteOccupancy
      parameters:
      - $ref: '#/components/parameters/ObservationId'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /forecasts:
    get:
      tags:
      - Forecasts
      summary: Прогнозы занятости
      operationId: listForecasts
      parameters:
      - name: zone_id
        in: query
        required: false
        schema:
          type: integer
      - name: camera_id
        in: query
        required: false
        schema:
          type: integer
      - name: partner_id
        in: query
        required: false
        schema:
          type: integer
      - name: model_type
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/ForecastModelType'
      - name: generated_from
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: generated_to
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: from
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: to
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: at
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: latest_model_only
        in: query
        required: false
        schema:
          type: boolean
      - $ref: '#/components/parameters/BBox'
      - name: view
        in: query
        required: false
        schema:
          type: string
          enum:
          - points
          - series
          - map
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                - type: array
                  items:
                    $ref: '#/components/schemas/ForecastPoint'
                - type: array
                  items:
                    $ref: '#/components/schemas/ForecastSeriesPoint'
                - type: array
                  items:
                    $ref: '#/components/schemas/ForecastMapItem'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'
  /forecasts/new:
    post:
      tags:
      - Forecasts
      summary: Создать прогнозную точку
      operationId: createForecast
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForecastCreateRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForecastIdResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/ValidationError'
  /forecasts/{forecast_id}:
    get:
      tags:
      - Forecasts
      summary: Получить прогнозную точку
      operationId: getForecast
      parameters:
      - $ref: '#/components/parameters/ForecastId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForecastPoint'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
      - Forecasts
      summary: Обновить прогнозную точку
      operationId: updateForecast
      parameters:
      - $ref: '#/components/parameters/ForecastId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForecastUpdateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForecastPoint'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
    delete:
      tags:
      - Forecasts
      summary: Удалить прогнозную точку
      operationId: deleteForecast
      parameters:
      - $ref: '#/components/parameters/ForecastId'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /routing/search:
    post:
      tags:
      - Routing
      summary: Поиск подходящих парковок
      operationId: searchRoutes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouteSearchRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouteSearchResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/ValidationError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /routing/new:
    post:
      tags:
      - Routing
      summary: Создать маршрут
      operationId: createRoute
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouteCreateRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Route'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/ValidationError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /routing:
    get:
      tags:
      - Routing
      summary: Маршруты текущего пользователя
      operationId: listRoutes
      parameters:
      - name: status
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/RouteStatus'
      - name: mode
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/RouteMode'
      - $ref: '#/components/parameters/Top'
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouteListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /routing/{route_id}:
    get:
      tags:
      - Routing
      summary: Получить маршрут
      operationId: getRoute
      parameters:
      - $ref: '#/components/parameters/RouteId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Route'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
      - Routing
      summary: Обновить маршрут
      operationId: updateRoute
      parameters:
      - $ref: '#/components/parameters/RouteId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouteUpdateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Route'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    delete:
      tags:
      - Routing
      summary: Удалить маршрут
      operationId: deleteRoute
      parameters:
      - $ref: '#/components/parameters/RouteId'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /sources:
    get:
      tags:
      - Data Sources
      summary: Список источников данных
      operationId: listSources
      parameters:
      - name: partner_id
        in: query
        required: false
        schema:
          type: integer
      - name: source_type
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/DataSourceType'
      - name: entity_type
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/DataSourceEntityType'
      - name: status
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/DataSourceStatus'
      - name: is_active
        in: query
        required: false
        schema:
          type: boolean
      - $ref: '#/components/parameters/Q'
      - $ref: '#/components/parameters/Top'
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSourceListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /sources/{source_id}:
    get:
      tags:
      - Data Sources
      summary: Получить источник данных
      operationId: getSource
      parameters:
      - $ref: '#/components/parameters/SourceId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /admin/overview:
    get:
      tags:
      - Admin
      summary: Административный обзор системы
      operationId: getAdminOverview
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminOverview'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /admin/cameras:
    get:
      tags:
      - Admin
      summary: Административный мониторинг камер
      operationId: listAdminCameras
      parameters:
      - name: partner_id
        in: query
        required: false
        schema:
          type: integer
      - name: camera_status
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/CameraStatus'
      - name: processing_status
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/ProcessingStatus'
      - name: is_active
        in: query
        required: false
        schema:
          type: boolean
      - $ref: '#/components/parameters/Q'
      - $ref: '#/components/parameters/Top'
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminCameraListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /admin/cameras/{camera_id}:
    get:
      tags:
      - Admin
      summary: Административная информация по камере
      operationId: getAdminCamera
      parameters:
      - $ref: '#/components/parameters/CameraId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminCameraMonitorItem'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /admin/cameras/{camera_id}/snapshot:
    get:
      tags:
      - Admin
      summary: Административный снапшот камеры
      operationId: getAdminCameraSnapshot
      parameters:
      - $ref: '#/components/parameters/CameraId'
      - name: annotated
        in: query
        required: false
        schema:
          type: boolean
      - name: fallback_to_raw
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: Image
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
            image/webp:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /admin/cameras/{camera_id}/snapshot/info:
    get:
      tags:
      - Admin
      summary: Метаданные снапшота камеры
      operationId: getAdminCameraSnapshotInfo
      parameters:
      - $ref: '#/components/parameters/CameraId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminSnapshotInfo'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /admin/cameras/{camera_id}/processing/restart:
    post:
      tags:
      - Admin
      summary: Перезапустить обработку камеры
      operationId: restartCameraProcessing
      parameters:
      - $ref: '#/components/parameters/CameraId'
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedCameraResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /admin/zones:
    get:
      tags:
      - Admin
      summary: Административный список зон
      operationId: listAdminZones
      parameters:
      - name: partner_id
        in: query
        required: false
        schema:
          type: integer
      - name: camera_id
        in: query
        required: false
        schema:
          type: integer
      - name: is_active
        in: query
        required: false
        schema:
          type: boolean
      - name: updated_from
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: updated_to
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - $ref: '#/components/parameters/Top'
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZoneListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /admin/zones/{zone_id}/recount:
    post:
      tags:
      - Admin
      summary: Запустить пересчёт зоны
      operationId: recountAdminZone
      parameters:
      - $ref: '#/components/parameters/ZoneId'
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedZoneResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /admin/users:
    get:
      tags:
      - Admin
      summary: Административный список пользователей
      operationId: listAdminUsers
      parameters:
      - $ref: '#/components/parameters/Q'
      - name: role
        in: query
        required: false
        schema:
          type: string
      - name: is_active
        in: query
        required: false
        schema:
          type: boolean
      - $ref: '#/components/parameters/Top'
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /admin/partners:
    get:
      tags:
      - Admin
      summary: Административный список партнёров
      operationId: listAdminPartners
      parameters:
      - $ref: '#/components/parameters/Q'
      - name: is_active
        in: query
        required: false
        schema:
          type: boolean
      - $ref: '#/components/parameters/Top'
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /admin/analytics/summary:
    get:
      tags:
      - Admin Analytics
      summary: Сводка аналитики
      operationId: getAnalyticsSummary
      description: Возвращает сводные показатели занятости, обновлений и confidence за период. Требуется analytics.view.
      parameters:
      - name: from
        in: query
        required: true
        description: Начало периода включительно.
        schema:
          type: string
          format: date-time
      - name: to
        in: query
        required: true
        description: Конец периода включительно.
        schema:
          type: string
          format: date-time
      - name: partner_id
        in: query
        required: false
        description: Фильтр по партнёру.
        schema:
          type: integer
          nullable: true
      - name: zone_id
        in: query
        required: false
        description: Фильтр по парковочной зоне.
        schema:
          type: integer
          nullable: true
      - name: camera_id
        in: query
        required: false
        description: Фильтр по камере.
        schema:
          type: integer
          nullable: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'
  /admin/analytics/occupancy-history:
    get:
      tags:
      - Admin Analytics
      summary: История занятости
      operationId: getAnalyticsOccupancyHistory
      description: Возвращает агрегированную историю занятости парковок за период. Требуется analytics.view.
      parameters:
      - name: from
        in: query
        required: true
        description: Начало периода включительно.
        schema:
          type: string
          format: date-time
      - name: to
        in: query
        required: true
        description: Конец периода включительно.
        schema:
          type: string
          format: date-time
      - name: partner_id
        in: query
        required: false
        description: Фильтр по партнёру.
        schema:
          type: integer
          nullable: true
      - name: zone_id
        in: query
        required: false
        description: Фильтр по парковочной зоне.
        schema:
          type: integer
          nullable: true
      - name: camera_id
        in: query
        required: false
        description: Фильтр по камере.
        schema:
          type: integer
          nullable: true
      - name: granularity
        in: query
        required: false
        description: Шаг агрегации, например 5m, 1h или 1d.
        schema:
          type: string
          nullable: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OccupancyHistoryResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'
  /admin/analytics/occupancy-forecast:
    get:
      tags:
      - Admin Analytics
      summary: Прогноз занятости зоны
      operationId: getAnalyticsOccupancyForecast
      description: Возвращает прогноз занятости выбранной зоны. Требуется analytics.view.
      parameters:
      - name: zone_id
        in: query
        required: true
        description: Идентификатор парковочной зоны.
        schema:
          type: integer
      - name: from
        in: query
        required: true
        description: Начало периода включительно.
        schema:
          type: string
          format: date-time
      - name: to
        in: query
        required: true
        description: Конец периода включительно.
        schema:
          type: string
          format: date-time
      - name: partner_id
        in: query
        required: false
        description: Фильтр по партнёру.
        schema:
          type: integer
          nullable: true
      - name: forecast_created_at
        in: query
        required: false
        description: Выбрать конкретный выпуск прогноза.
        schema:
          type: string
          format: date-time
          nullable: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OccupancyForecastResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
  /admin/analytics/observations-rate:
    get:
      tags:
      - Admin Analytics
      summary: Частота наблюдений
      operationId: getAnalyticsObservationsRate
      description: Возвращает количество наблюдений по временным интервалам. Требуется analytics.view.
      parameters:
      - name: from
        in: query
        required: true
        description: Начало периода включительно.
        schema:
          type: string
          format: date-time
      - name: to
        in: query
        required: true
        description: Конец периода включительно.
        schema:
          type: string
          format: date-time
      - name: partner_id
        in: query
        required: false
        description: Фильтр по партнёру.
        schema:
          type: integer
          nullable: true
      - name: zone_id
        in: query
        required: false
        description: Фильтр по парковочной зоне.
        schema:
          type: integer
          nullable: true
      - name: camera_id
        in: query
        required: false
        description: Фильтр по камере.
        schema:
          type: integer
          nullable: true
      - name: granularity
        in: query
        required: false
        description: Шаг агрегации.
        schema:
          type: string
          nullable: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObservationsRateResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'
  /admin/analytics/confidence:
    get:
      tags:
      - Admin Analytics
      summary: История confidence
      operationId: getAnalyticsConfidence
      description: Возвращает средний, минимальный и максимальный confidence детекций. Требуется analytics.view.
      parameters:
      - name: from
        in: query
        required: true
        description: Начало периода включительно.
        schema:
          type: string
          format: date-time
      - name: to
        in: query
        required: true
        description: Конец периода включительно.
        schema:
          type: string
          format: date-time
      - name: partner_id
        in: query
        required: false
        description: Фильтр по партнёру.
        schema:
          type: integer
          nullable: true
      - name: zone_id
        in: query
        required: false
        description: Фильтр по парковочной зоне.
        schema:
          type: integer
          nullable: true
      - name: camera_id
        in: query
        required: false
        description: Фильтр по камере.
        schema:
          type: integer
          nullable: true
      - name: granularity
        in: query
        required: false
        description: Шаг агрегации.
        schema:
          type: string
          nullable: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfidenceResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'
  /admin/analytics/update-frequency:
    get:
      tags:
      - Admin Analytics
      summary: Частота обновления данных
      operationId: getAnalyticsUpdateFrequency
      description: Возвращает интервалы между обновлениями в целом и по зонам. Требуется analytics.view.
      parameters:
      - name: from
        in: query
        required: true
        description: Начало периода включительно.
        schema:
          type: string
          format: date-time
      - name: to
        in: query
        required: true
        description: Конец периода включительно.
        schema:
          type: string
          format: date-time
      - name: partner_id
        in: query
        required: false
        description: Фильтр по партнёру.
        schema:
          type: integer
          nullable: true
      - name: zone_id
        in: query
        required: false
        description: Фильтр по парковочной зоне.
        schema:
          type: integer
          nullable: true
      - name: camera_id
        in: query
        required: false
        description: Фильтр по камере.
        schema:
          type: integer
          nullable: true
      - name: granularity
        in: query
        required: false
        description: Шаг агрегации.
        schema:
          type: string
          nullable: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateFrequencyResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'
  /admin/analytics/detector-health:
    get:
      tags:
      - Admin Analytics
      summary: Состояние детекторов
      operationId: getAnalyticsDetectorHealth
      description: Возвращает состояние распознавания по камерам и зонам. Требуется analytics.view.
      parameters:
      - name: from
        in: query
        required: true
        description: Начало периода включительно.
        schema:
          type: string
          format: date-time
      - name: to
        in: query
        required: true
        description: Конец периода включительно.
        schema:
          type: string
          format: date-time
      - name: partner_id
        in: query
        required: false
        description: Фильтр по партнёру.
        schema:
          type: integer
          nullable: true
      - name: zone_id
        in: query
        required: false
        description: Фильтр по парковочной зоне.
        schema:
          type: integer
          nullable: true
      - name: camera_id
        in: query
        required: false
        description: Фильтр по камере.
        schema:
          type: integer
          nullable: true
      - name: status
        in: query
        required: false
        description: Фильтр по вычисленному состоянию детектора.
        schema:
          type: string
          enum:
          - online
          - stale
          - offline
          - no_data
          - low_confidence
          - error
          nullable: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetectorHealthResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'
  /admin/analytics/cameras/{camera_id}/detections:
    get:
      tags:
      - Admin Analytics
      summary: Распознавания камеры
      operationId: listCameraDetections
      description: Возвращает последние результаты распознавания выбранной камеры. Требуется analytics.view.
      parameters:
      - $ref: '#/components/parameters/CameraId'
      - name: from
        in: query
        required: false
        description: Начало периода.
        schema:
          type: string
          format: date-time
          nullable: true
      - name: to
        in: query
        required: false
        description: Конец периода.
        schema:
          type: string
          format: date-time
          nullable: true
      - name: limit
        in: query
        required: false
        description: Максимальное число результатов.
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      - name: status
        in: query
        required: false
        description: Фильтр по статусу распознавания.
        schema:
          type: string
          enum:
          - success
          - failed
          - partial
          nullable: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetectionRunListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
  /admin/analytics/detections/{detection_run_id}:
    get:
      tags:
      - Admin Analytics
      summary: Детали распознавания
      operationId: getDetectionRun
      description: Возвращает один результат распознавания и URL доступных артефактов. Требуется analytics.view.
      parameters:
      - $ref: '#/components/parameters/DetectionRunId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetectionRun'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
  /admin/analytics/detections/{detection_run_id}/snapshot:
    get:
      tags:
      - Admin Analytics
      summary: Скачать кадр распознавания
      operationId: getDetectionSnapshot
      description: Возвращает raw или annotated JPEG конкретного распознавания. API скачивает зашифрованный PTSNAP01 из S3,
        проверяет AES-256-GCM и расшифровывает его только в памяти. Требуется analytics.view.
      parameters:
      - $ref: '#/components/parameters/DetectionRunId'
      - name: variant
        in: query
        required: false
        description: Вариант кадра.
        schema:
          type: string
          enum:
          - raw
          - annotated
          default: raw
      responses:
        '200':
          description: Расшифрованный JPEG выбранного распознавания.
          headers:
            Content-Disposition:
              $ref: '#/components/headers/ContentDisposition'
            Cache-Control:
              $ref: '#/components/headers/CacheControlPrivateNoStore'
            X-Detection-Run-Id:
              $ref: '#/components/headers/DetectionRunId'
            X-Snapshot-Captured-At:
              $ref: '#/components/headers/SnapshotCapturedAt'
            X-Snapshot-Variant:
              $ref: '#/components/headers/SnapshotVariant'
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /admin/analytics/detections/{detection_run_id}/labels:
    get:
      tags:
      - Admin Analytics
      summary: Скачать YOLOv12 labels
      operationId: getDetectionLabels
      description: 'Возвращает расшифрованный labels.txt в формате YOLOv12 detection. Каждая строка: class_id x_center y_center
        width height; координаты нормализованы. Пустой файл является корректным ответом. Требуется analytics.view.'
      parameters:
      - $ref: '#/components/parameters/DetectionRunId'
      responses:
        '200':
          description: Расшифрованный UTF-8 файл YOLOv12 labels.txt.
          headers:
            Content-Disposition:
              $ref: '#/components/headers/ContentDisposition'
            Cache-Control:
              $ref: '#/components/headers/CacheControlPrivateNoStore'
            X-Detection-Run-Id:
              $ref: '#/components/headers/DetectionRunId'
            X-Snapshot-Captured-At:
              $ref: '#/components/headers/SnapshotCapturedAt'
            X-Snapshot-Variant:
              $ref: '#/components/headers/SnapshotVariant'
          content:
            text/plain:
              schema:
                type: string
                format: binary
              example: '0 0.512500 0.438889 0.125000 0.211111

                '
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /admin/analytics/detections/{detection_run_id}/feedback:
    post:
      tags:
      - Admin Analytics
      summary: Создать оценку распознавания
      operationId: createDetectionFeedback
      description: Создаёт обратную связь по качеству распознавания. Требуется analytics.feedback.create.
      parameters:
      - $ref: '#/components/parameters/DetectionRunId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDetectionFeedbackRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDetectionFeedbackResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
    get:
      tags:
      - Admin Analytics
      summary: Список оценок распознавания
      operationId: listDetectionFeedback
      description: Возвращает обратную связь по распознаванию. Доступно администраторам с analytics.feedback.view.
      parameters:
      - $ref: '#/components/parameters/DetectionRunId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetectionFeedbackListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
  /admin/analytics/detections/{detection_run_id}/feedback/{feedback_id}:
    get:
      tags:
      - Admin Analytics
      summary: Получить оценку распознавания
      operationId: getDetectionFeedback
      description: Возвращает одну запись обратной связи. Доступно администраторам с analytics.feedback.view.
      parameters:
      - $ref: '#/components/parameters/DetectionRunId'
      - $ref: '#/components/parameters/FeedbackId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetectionFeedback'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
  /admin/analytics/forecast-quality:
    get:
      tags:
      - Admin Analytics
      summary: Качество прогнозов
      operationId: getAnalyticsForecastQuality
      description: Сравнивает прогнозы с фактическими наблюдениями. Доступно администраторам с admin.forecasts.view.
      parameters:
      - name: from
        in: query
        required: true
        description: Начало периода включительно.
        schema:
          type: string
          format: date-time
      - name: to
        in: query
        required: true
        description: Конец периода включительно.
        schema:
          type: string
          format: date-time
      - name: partner_id
        in: query
        required: false
        description: Фильтр по партнёру.
        schema:
          type: integer
          nullable: true
      - name: zone_id
        in: query
        required: false
        description: Фильтр по парковочной зоне.
        schema:
          type: integer
          nullable: true
      - name: camera_id
        in: query
        required: false
        description: Фильтр по камере.
        schema:
          type: integer
          nullable: true
      - name: forecast_created_at
        in: query
        required: false
        description: Выбрать конкретный выпуск прогноза.
        schema:
          type: string
          format: date-time
          nullable: true
      - name: granularity
        in: query
        required: false
        description: Шаг агрегации.
        schema:
          type: string
          nullable: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForecastQualityResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'
  /weather:
    get:
      tags:
      - Weather
      summary: Список наблюдений погоды
      operationId: listWeather
      parameters:
      - name: camera_id
        in: query
        required: false
        schema:
          type: integer
      - name: from
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: to
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: latest_only
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WeatherListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /weather/new:
    post:
      tags:
      - Weather
      summary: Новое наблюдение погоды
      operationId: postWeather
      parameters:
      - name: camera_id
        in: query
        required: false
        schema:
          type: integer
      - name: observed_at
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: temperature
        in: query
        required: false
        schema:
          type: float
      - name: precipitation
        in: query
        required: false
        schema:
          type: float
          minimum: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WeatherPostResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /weather/{camera_id}/{observed_at}:
    get:
      tags:
      - Weather
      summary: Получить наблюдение погоды
      operationId: getWeather
      parameters:
      - $ref: '#/components/parameters/CameraId'
      - $ref: '#/components/parameters/ObservedAt'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WeatherObservation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /health:
    get:
      tags:
      - System
      summary: Проверка состояния API
      operationId: getHealth
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      security: []
  /version:
    get:
      tags:
      - System
      summary: Версия API
      operationId: getVersion
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    Top:
      name: top
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
      description: Максимальное количество элементов.
    Offset:
      name: offset
      in: query
      required: false
      schema:
        type: integer
        minimum: 0
      description: Смещение для пагинации.
    BBox:
      name: bbox
      in: query
      required: false
      schema:
        type: string
        example: 30.30,59.92,30.35,59.97
      description: 'Пространственный фильтр: min_lon,min_lat,max_lon,max_lat'
    Q:
      name: q
      in: query
      required: false
      schema:
        type: string
      description: Поиск по текстовым полям.
    CameraId:
      name: camera_id
      in: path
      required: true
      schema:
        type: integer
      description: Идентификатор камеры.
    ObservedAt:
      name: observed_at
      in: path
      required: true
      schema:
        type: string
        format: date-time
      description: Время наблюдения.
    ZoneId:
      name: zone_id
      in: path
      required: true
      schema:
        type: integer
      description: Идентификатор парковочной зоны.
    UserId:
      name: user_id
      in: path
      required: true
      schema:
        type: integer
      description: Идентификатор пользователя.
    PartnerId:
      name: partner_id
      in: path
      required: true
      schema:
        type: integer
      description: Идентификатор партнёра.
    ObservationId:
      name: observation_id
      in: path
      required: true
      schema:
        type: integer
      description: Идентификатор наблюдения занятости.
    ForecastId:
      name: forecast_id
      in: path
      required: true
      schema:
        type: integer
      description: Идентификатор прогноза.
    RouteId:
      name: route_id
      in: path
      required: true
      schema:
        type: integer
      description: Идентификатор маршрута.
    SourceId:
      name: source_id
      in: path
      required: true
      schema:
        type: integer
      description: Идентификатор источника данных.
    DetectionRunId:
      name: detection_run_id
      in: path
      required: true
      description: Идентификатор запуска распознавания (observation_id).
      schema:
        type: integer
        minimum: 1
    FeedbackId:
      name: feedback_id
      in: path
      required: true
      description: Идентификатор обратной связи по распознаванию.
      schema:
        type: integer
        minimum: 1
  responses:
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Conflict:
      description: Conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    UnsupportedMediaType:
      description: Unsupported Media Type
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    UnprocessableEntity:
      description: Unprocessable Entity
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ValidationError:
      description: Unprocessable Entity
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    TooManyRequests:
      description: Too Many Requests
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ServiceUnavailable:
      description: Service Unavailable
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NoContent:
      description: No Content
    BadGateway:
      description: Bad Gateway — зашифрованный артефакт повреждён, подменён или имеет неверный формат.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      type: object
      properties:
        error_description:
          type: string
          description: Описание ошибки
          example: 'Validation error: field is required'
      required:
      - error_description
      additionalProperties: false
    GeoJsonPolygon:
      type: object
      description: GeoJSON Polygon. Координаты задаются как [longitude, latitude].
      properties:
        type:
          type: string
          enum:
          - Polygon
          example: Polygon
        coordinates:
          type: array
          items:
            type: array
            items:
              type: array
              items:
                type: number
                format: double
      required:
      - type
      - coordinates
      additionalProperties: false
    ImagePoint:
      type: array
      minItems: 2
      maxItems: 2
      items:
        type: integer
        minimum: 0
      description: Точка изображения [x, y].
    ImagePolygon:
      type: array
      minItems: 4
      maxItems: 4
      items:
        $ref: '#/components/schemas/ImagePoint'
      description: Полигон зоны на изображении камеры из 4 вершин.
    JsonObject:
      type: object
      nullable: true
      additionalProperties: true
    ConfidenceLevel:
      type: string
      enum:
      - very_low
      - low
      - medium
      - high
      nullable: true
    ZoneType:
      type: string
      enum:
      - parallel
      - standard
    LocationType:
      type: string
      enum:
      - street
      - yard
      - open_lot
      - underground
      - multilevel
      nullable: true
    AccessScope:
      type: string
      enum:
      - none
      - own
      - assigned
      - own_or_assigned
      - partner_all
      - global_all
    PartnerRole:
      type: string
      enum:
      - partner_owner
      - partner_admin
      - partner_manager
      - partner_analyst
      - partner_viewer
    GlobalRole:
      type: string
      enum:
      - user
      - admin
    RouteMode:
      type: string
      enum:
      - find_parking
      - route_to_destination
    RouteStatus:
      type: string
      enum:
      - active
      - completed
      - cancelled
      - replaced
    RoutingProvider:
      type: string
      enum:
      - yandex
      - internal
      - external
    DataSourceType:
      type: string
      enum:
      - camera_stream
      - partner_api
      - parking_sensor
      - payment_feed
      - navigator_feed
      - carsharing_feed
      - manual_import
      - other
    DataSourceEntityType:
      type: string
      enum:
      - camera
      - partner_api_source
      - parking_sensor_source
      - payment_source
      - navigator_source
      - carsharing_source
      - manual_import_source
    DataSourceStatus:
      type: string
      enum:
      - active
      - paused
      - error
      - deleted
      - unknown
    ObservationSourceType:
      type: string
      enum:
      - camera_cv
      - manual
      - partner_api
      - parking_sensor
      - payment_data
      - navigator_data
      - carsharing_data
      - model_adjustment
    ForecastModelType:
      type: string
      enum:
      - ml_model
      - rule_based
      - hybrid
      - manual
      - external_partner_model
    CameraStatus:
      type: string
      enum:
      - online
      - offline
      - degraded
      - unknown
    ProcessingStatus:
      type: string
      enum:
      - idle
      - running
      - warning
      - error
      - unknown
    AuthUserSummary:
      type: object
      properties:
        user_id:
          type: integer
        email:
          type: string
          format: email
        full_name:
          type: string
          nullable: true
        global_roles:
          type: array
          items:
            $ref: '#/components/schemas/GlobalRole'
      required:
      - user_id
      - email
      - full_name
      - global_roles
      additionalProperties: false
    AuthResponse:
      type: object
      properties:
        access_token:
          type: string
        token_type:
          type: string
          enum:
          - Bearer
        expires_in:
          type: integer
          minimum: 0
        user:
          $ref: '#/components/schemas/AuthUserSummary'
      required:
      - access_token
      - token_type
      - expires_in
      - user
      additionalProperties: false
    RegisterRequest:
      type: object
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 1
        full_name:
          type: string
          nullable: true
          maxLength: 200
        phone:
          type: string
          nullable: true
      required:
      - email
      - password
      additionalProperties: false
    LoginRequest:
      type: object
      properties:
        login:
          type: string
        password:
          type: string
          minLength: 1
      required:
      - login
      - password
      additionalProperties: false
    PartnerMembership:
      type: object
      properties:
        partner_id:
          type: integer
        user_id:
          type: integer
          nullable: true
          description: Может отсутствовать в /auth/me.
        role:
          $ref: '#/components/schemas/PartnerRole'
        permissions:
          type: array
          items:
            type: string
        read_scope:
          $ref: '#/components/schemas/AccessScope'
        write_scope:
          $ref: '#/components/schemas/AccessScope'
        delete_scope:
          $ref: '#/components/schemas/AccessScope'
        is_active:
          type: boolean
        created_at:
          type: string
          format: date-time
          nullable: true
        updated_at:
          type: string
          format: date-time
          nullable: true
      required:
      - partner_id
      - role
      - permissions
      - read_scope
      - write_scope
      - delete_scope
      additionalProperties: false
    AuthMeResponse:
      type: object
      properties:
        user_id:
          type: integer
        email:
          type: string
          format: email
        full_name:
          type: string
          nullable: true
        global_roles:
          type: array
          items:
            $ref: '#/components/schemas/GlobalRole'
        permissions:
          type: array
          items:
            type: string
        partner_memberships:
          type: array
          items:
            $ref: '#/components/schemas/PartnerMembership'
      required:
      - user_id
      - email
      - full_name
      - global_roles
      - permissions
      - partner_memberships
      additionalProperties: false
    User:
      type: object
      properties:
        user_id:
          type: integer
        email:
          type: string
          format: email
        full_name:
          type: string
          nullable: true
        phone:
          type: string
          nullable: true
        global_roles:
          type: array
          items:
            $ref: '#/components/schemas/GlobalRole'
        is_active:
          type: boolean
        is_email_verified:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
      - user_id
      - email
      - full_name
      - phone
      - global_roles
      - is_active
      - is_email_verified
      - created_at
      - updated_at
      additionalProperties: false
    UserProfileMembership:
      type: object
      properties:
        partner_id:
          type: integer
        role:
          $ref: '#/components/schemas/PartnerRole'
        is_active:
          type: boolean
        read_scope:
          $ref: '#/components/schemas/AccessScope'
        write_scope:
          $ref: '#/components/schemas/AccessScope'
        delete_scope:
          $ref: '#/components/schemas/AccessScope'
      required:
      - partner_id
      - role
      - is_active
      - read_scope
      - write_scope
      - delete_scope
      additionalProperties: false
    UserProfile:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/User'
        partner_memberships:
          type: array
          items:
            $ref: '#/components/schemas/UserProfileMembership'
      required:
      - user
      - partner_memberships
      additionalProperties: false
    UpdateMeRequest:
      type: object
      properties:
        full_name:
          type: string
          minLength: 1
          maxLength: 200
        phone:
          type: string
          nullable: true
      additionalProperties: false
    ChangePasswordRequest:
      type: object
      properties:
        current_password:
          type: string
        new_password:
          type: string
      required:
      - current_password
      - new_password
      additionalProperties: false
    CreateUserRequest:
      type: object
      properties:
        email:
          type: string
          format: email
        password:
          type: string
        full_name:
          type: string
          nullable: true
        phone:
          type: string
          nullable: true
        global_roles:
          type: array
          items:
            $ref: '#/components/schemas/GlobalRole'
        is_active:
          type: boolean
      required:
      - email
      - password
      additionalProperties: false
    UpdateUserRequest:
      type: object
      properties:
        email:
          type: string
          format: email
        full_name:
          type: string
          nullable: true
        phone:
          type: string
          nullable: true
        global_roles:
          type: array
          items:
            $ref: '#/components/schemas/GlobalRole'
        is_active:
          type: boolean
        is_email_verified:
          type: boolean
      additionalProperties: false
    UserIdResponse:
      type: object
      properties:
        user_id:
          type: integer
      required:
      - user_id
      additionalProperties: false
    UserListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/User'
        total:
          type: integer
          minimum: 0
          description: Общее количество элементов по фильтру
        top:
          type: integer
          minimum: 0
          description: Использованный лимит
        offset:
          type: integer
          minimum: 0
          description: Использованное смещение
      required:
      - items
      - total
      - top
      - offset
      additionalProperties: false
    Partner:
      type: object
      properties:
        partner_id:
          type: integer
        name:
          type: string
        slug:
          type: string
        contact_email:
          type: string
          format: email
          nullable: true
        contact_phone:
          type: string
          nullable: true
        is_active:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
      - partner_id
      - name
      - slug
      - contact_email
      - contact_phone
      - is_active
      - created_at
      - updated_at
      additionalProperties: false
    PartnerCreateRequest:
      type: object
      properties:
        name:
          type: string
        slug:
          type: string
        contact_email:
          type: string
          format: email
        contact_phone:
          type: string
      required:
      - name
      - slug
      additionalProperties: false
    PartnerUpdateRequest:
      type: object
      properties:
        name:
          type: string
        slug:
          type: string
        contact_email:
          type: string
          format: email
          nullable: true
        contact_phone:
          type: string
          nullable: true
        is_active:
          type: boolean
      additionalProperties: false
    PartnerIdResponse:
      type: object
      properties:
        partner_id:
          type: integer
      required:
      - partner_id
      additionalProperties: false
    PartnerListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Partner'
        total:
          type: integer
          minimum: 0
          description: Общее количество элементов по фильтру
        top:
          type: integer
          minimum: 0
          description: Использованный лимит
        offset:
          type: integer
          minimum: 0
          description: Использованное смещение
      required:
      - items
      - total
      - top
      - offset
      additionalProperties: false
    PartnerMemberCreateRequest:
      type: object
      properties:
        user_id:
          type: integer
        role:
          $ref: '#/components/schemas/PartnerRole'
        permissions:
          type: array
          items:
            type: string
        read_scope:
          $ref: '#/components/schemas/AccessScope'
        write_scope:
          $ref: '#/components/schemas/AccessScope'
        delete_scope:
          $ref: '#/components/schemas/AccessScope'
      required:
      - user_id
      - role
      - permissions
      - read_scope
      - write_scope
      - delete_scope
      additionalProperties: false
    PartnerMemberUpdateRequest:
      type: object
      properties:
        role:
          $ref: '#/components/schemas/PartnerRole'
        permissions:
          type: array
          items:
            type: string
        read_scope:
          $ref: '#/components/schemas/AccessScope'
        write_scope:
          $ref: '#/components/schemas/AccessScope'
        delete_scope:
          $ref: '#/components/schemas/AccessScope'
        is_active:
          type: boolean
      additionalProperties: false
    PartnerMembershipListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/PartnerMembership'
        total:
          type: integer
          minimum: 0
          description: Общее количество элементов по фильтру
        top:
          type: integer
          minimum: 0
          description: Использованный лимит
        offset:
          type: integer
          minimum: 0
          description: Использованное смещение
      required:
      - items
      - total
[...]
